/* Global styles
--------------------------*/
html {
  margin-bottom: 120px;
}

body {
  background: black;
  margin: 40px;
}

p, section, span, h3, h4 {
    font-family: "letter-gothic-recast", sans-serif;
}

a {
  text-decoration: none;
  color: lightblue;
  text-align: center;
}
/*
a {
  background: white;
  padding: 6px;
  Display: inline-block;
  margin: 4px;
  text-decoration: none;
  Text-align: center;
}
a:link {
  color: black;
}
a:visited {
  color: inherit;
  background: white;
}
a:active {
  Color: black;
}
  */
a:hover {
  background: none;
  color: lightgreen;
}


.content-wrap {
  max-width: 950px;
  margin: 0 auto;
}


/* Paragraph styles
--------------------------*/
p {
  text-align: center;
  color: white;
  font-size: 18px;
}

.highlight {
  font-size: 1.5em; /* Using relative units like 'em' is often recommended */
  color: yellow;
}


/* Header styles
--------------------------*/

header {
  background: "color"=black;
  color: white;
  font-family: "letter-gothic-recast", sans-serif;
}

h1 {
    text-align: center;
    color: lightblue;
    font-family: 'Bytesquare', sans-serif;
    font-size: 80px;
}

h2 {
    text-align: center;
    color: lightblue;
    font-family: 'Bytesquare', sans-serif;
    font-size: 72px;
    margin: 0 auto;
  }


/* Footer styles
--------------------------*/
footer {
  background: "color"=white;
  color: black;
  font-family: "letter-gothic-recast", sans-serif;
  margin: 40px;
}


/* Font faces
--------------------------*/
@font-face {
  font-family: 'RadioNewsman';
  src: url(../fonts/RadioNewsman.ttf);
}

@font-face {
  font-family: 'Bytesquare';
  src: url(../fonts/BytesquareRegular.ttf)
}

@font-face {
    src: local();
    font-family: "letter-gothic-recast", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Scroll Behavior
--------------------------*/
html {
  scroll-behavior: smooth;
}

.scroll-to-top {
    position: fixed; /* Fixes the button relative to the viewport */
    bottom: 20px;    /* Positions it near the bottom */
    right: 20px;     /* Positions it near the right */
    background-color: #007BFF;
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    display: none; 
}

/*Tech Heroes*/
.tech-heroes {
display: block;
background-color: gray;
filter: drop-shadow(10px 10px 8px #404045);
h3 {
  margin-bottom: 0;
  img {
    width:20px;
    padding-left:10px;
  }
}
p {
  text-align: justify;
  margin: 5%;
  font-size: 16px;
}
}

.left {
  float: left;
  width: 40%;
  margin-left: 5%;
}

.right {
  float: right;
    width: 40%;
      margin-right: 5%;
}

.profile-image {
  float: left;
  clip-path: circle();
  width: 50%;
}

.sub-title {
  font-size: 12px;
  margin: 0;
  color: white;
}

/*Resources */
.resources {
  display: block;
  padding: 30px 15px 70px 15px;
  width: 80%;
  margin: 0 auto;
  background-color:#404045;

  p {
    text-align: justify;
  }
}

.ai-resources {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.ai-resources div {
  width: 40%;
  margin: 5px auto;
}


/*Lower Navigation*/

.navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.75)
}

.navigation div {
  align-self: center;
  img {
    height: 20px;
  }
}


button {
  color: lightblue;
  font-family: 'Bytesquare', sans-serif;
  font-size: 18px;
  border: none;
  background: none;
  margin: 0 auto;
  img {
    height: 30px;
    margin: 10px;
  }
  a {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}