/* Global styles
--------------------------*/

body {
  background: black;
  margin: 40px;
}
a {
  text-decoration: none;
  color: lightblue;
  text-align: center;
}
/*
a {
  background: white;
  padding: 6px;
  Display: inline-block;
  margin: 4px;
  text-decoration: none;
  Text-align: center;
}
a:link {
  color: black;
}
a:visited {
  color: inherit;
  background: white;
}
a:active {
  Color: black;
}
  */
a:hover {
  background: none;
  Color: lightgreen;
}


.content-wrap {
  Max-width: 950px;
  Margin: 0 auto;
}


/* Paragraph styles
--------------------------*/
p {
  Text-align: center;
  Color: white;
  font-family: "letter-gothic-recast", sans-serif;
  font-size: 24px;
}

.highlight {
  font-size: 1.5em; /* Using relative units like 'em' is often recommended */
  color: yellow;
}


/* Header styles
--------------------------*/

Header {
  background: "color"=black;
  Color: white;
  font-family: "letter-gothic-recast", sans-serif;
}

  h1 {
    Text-align: center;
    Color: lightblue;
    font-family: 'Bytesquare', sans-serif;
    font-size: 80px;
}


/* Footer styles
--------------------------*/
Footer {
  background: "color"=white;
  Color: black;
  font-family: "letter-gothic-recast", sans-serif;
  margin: 40px;
}


/* Stat styles
--------------------------*/
.stat {
  background: "color"=black;
}

/* Font faces
--------------------------*/
@font-face {
  font-family: 'RadioNewsman';
  src: url(../fonts/RadioNewsman.ttf);
}

@font-face {
  font-family: 'Bytesquare';
  src: url(../fonts/BytesquareRegular.ttf)
}

@font-face {
    src: local();
    font-family: "letter-gothic-recast", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Scroll Behavior
--------------------------*/
html {
  scroll-behavior: smooth;
}

.scroll-to-top {
    position: fixed; /* Fixes the button relative to the viewport */
    bottom: 20px;    /* Positions it near the bottom */
    right: 20px;     /* Positions it near the right */
    background-color: #007BFF;
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    display: none; 
}

.tech-heroes {
display: block;
background-color: gray;
font-family: "letter-gothic-recast", sans-serif;
h3 {
  margin-bottom: 0;
}
p {
  text-align: justify;
  margin: 5%;
  font-size: 16px;
}
}

.left {
  float: left;
  width: 40%;
  margin-left: 5%;
}

.right {
  float: right;
    width: 40%;
      margin-right: 5%;
}

.profile-image {
  float: left;
  clip-path: circle();
  width: 50%;
}

.sub-title {
  font-size: 12px;
  margin: 0;
  color: white;
}

.navigation {
  position: fixed;
  bottom: 5%;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.75)
}

button {
  color: lightblue;
  font-family: 'Bytesquare', sans-serif;
  font-size: 18px;
  border: none;
  background: none;
  margin: 0 auto;
  img {
    height: 30px;
    margin: 10px;
  }
  a {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}