/* Global styles
--------------------------*/

body {
  background: black;
  margin: 40px;
}

a {
  background: white;
  padding: 6px;
  Display: inline-block;
  margin: 4px;
  text-decoration: none;
  Text-align: center;
}
a:link {
  color: black;
}
a:visited {
  color: inherit;
  background: white;
}
a:active {
  Color: black;
}
a:hover {
  background: none;
  Color: lightgreen;
}
p:hover {
  background: black;
}
a:focus {
  /* outline: 1px solid black; */
}

.content-wrap {
  Max-width: 950px;
  Margin: 0 auto;
}


/* Paragraph styles
--------------------------*/
p {
  Text-align: center;
  Color: white;
  font-family: "letter-gothic-recast", sans-serif;
  font-size: 24px;
}

.highlight {
  font-size: 1.5em; /* Using relative units like 'em' is often recommended */
  color: yellow;
}


/* Header styles
--------------------------*/

Header {
  background: "color"=black;
  Color: white;
  font-family: "letter-gothic-recast";
}

  h1 {
    Text-align: center;
    Color: lightblue;
    font-family: 'Bytesquare', sans-serif;
    font-size: 80px;
}


/* Footer styles
--------------------------*/
Footer {
  background: "color"=white;
  Color: black;
  font-family: "letter-gothic-recast";
  margin: 40px;
}


/* Stat styles
--------------------------*/
.stat {
  background: "color"=black;
}

/* Font faces
--------------------------*/
@font-face {
  font-family: 'RadioNewsman';
  src: url(../fonts/RadioNewsman.ttf);
}

@font-face {
  font-family: 'Bytesquare';
  src: url(../fonts/BytesquareRegular.ttf)
}

@font-face {
    font-family: "letter-gothic-recast", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Scroll Behavior
--------------------------*/
html {
  scroll-behavior: smooth;
}

.scroll-to-top {
    position: fixed; /* Fixes the button relative to the viewport */
    bottom: 20px;    /* Positions it near the bottom */
    right: 20px;     /* Positions it near the right */
    background-color: #007BFF;
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    display: none; 
}



